<!-- Wrapper-->
<div id="wrapper" ng-controller="DashboardController" ng-init="authenticity_token = '<%= form_authenticity_token %>'">

    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->