<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= url_for :controller => 'app', :action => 'index' %>">DASHBOARD</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Home</a></li>
                    <li><a class="page-scroll" href="#features">Features</a></li>
                    <li><a class="page-scroll" href="#team">Team</a></li>
                    <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                    <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>We advertise<br/>
                    dealships, cars,<br/>
                    and more<br/>
                    we are PREMIER advertisings</h1>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                </p>
            </div>
            <div class="carousel-image wow zoomIn">
                <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>

    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>We create advanced <br/> customer insights.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
    </div>
</div>
<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <!-- <span><i class="fa fa-angle-left"></i></span> -->
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <!-- <span><i class="fa fa-angle-right"></i></span> -->
    <span class="sr-only">Next</span>
</a>
</div>


<section id="features" class="container services">
<div class="row">
    <div class="col-sm-3">
        <h2>DASHBOARDS</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>ANALYTICS</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>USER INSIGHTS</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>INTEGRATIONS</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
</div>
</section>

<section  class="container features">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Over 20+ user insights and analytics <br/> <span class="navy"> with direct video conference with clients</span></h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <i class="fa fa-mobile features-icon"></i>
            <h2>Dashboards</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-bar-chart features-icon"></i>
            <h2>Analytics</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
            <i class="fa fa-envelope features-icon"></i>
            <h2>User Insights</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-google features-icon"></i>
            <h2>Integrations</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Discover great feautres</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
    </div>
</div>
<div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
        <small>PREMIER</small>
        <h2>Perfect CRM </h2>
        <p>PREMIER premium CRM dashboard for dealers.</p>
        <a href="" class="btn btn-primary">Learn more</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
        <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
</div>
</section>

<section id="team" class="gray-section team">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Our Team</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wow fadeInLeft">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar1.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Amelia</span> Smith</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member wow zoomIn">
                <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle" alt="">
                <h4><span class="navy">John</span> Novak</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar9.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Peter</span> Johnson</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
</div>
</section>

<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Even more great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-3 features-text wow fadeInLeft">
            <small>PREMIER</small>
            <h2>Perfect crm </h2>
            <p>PREMIER premium CRM dashboard for dealers.</p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
            <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
        </div>
        <div class="col-lg-3 features-text text-right wow fadeInRight">
            <small>PREMIER</small>
            <h2>Perfect CRM </h2>
            <p>PREMIER premium CRM dashboard for dealers.</p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
    </div>
</div>

</section>

<section class="timeline gray-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Our workflow</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">

        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Meeting</h2>
                        <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                        </p>
                        <a href="#" class="btn btn-xs btn-primary"> More info</a>
                        <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Decision</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        <a href="#" class="btn btn-xs btn-primary"> More info</a>
                        <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-cogs"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Implementation</h2>
                        <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                        <a href="#" class="btn btn-xs btn-primary"> More info</a>
                        <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                What our users say
            </h1>
            <div class="testimonials-text">
                <i>"what our users say"</i>
            </div>
            <small>
                <strong>12.02.2014 - Andy Smith</strong>
            </small>
        </div>
    </div>
</div>

</section>

<section class="comments gray-section" style="margin-top: 0">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>What our partners say</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-4">
            <div class="bubble">
                "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar5.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
                "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar6.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
                "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar8.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Andrew Williams
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>



    </div>
</div>

</section>

<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>More and more extra great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>PREMIER</small>
            <h2>Perfect CRM </h2>
            <i class="fa fa-bar-chart big-icon pull-right"></i>
            <p>PREMIER premium CRM dashboard for dealers.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>PREMIER</small>
            <h2>Perfect CRM </h2>
            <i class="fa fa-bolt big-icon pull-right"></i>
            <p>PREMIER premium CRM dashboard for dealers.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>PREMIER</small>
            <h2>Perfect CRM </h2>
            <i class="fa fa-clock-o big-icon pull-right"></i>
            <p>PREMIER premium CRM dashboard for dealers.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>PREMIER</small>
            <h2>Perfect CRM </h2>
            <i class="fa fa-users big-icon pull-right"></i>
            <p>PREMIER premium CRM dashboard for dealers.</p>
        </div>
    </div>
</div>

</section>
<section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>App Pricing</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Basic
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    <span>$16</span> / month
                </li>
                <li>
                    Dashboards
                </li>
                <li>
                    Projects view
                </li>
                <li>
                    Contacts
                </li>
                <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    Standard
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    <span>$22</span> / month
                </li>
                <li>
                    Dashboards
                </li>
                <li>
                    Projects view
                </li>
                <li>
                    Contacts
                </li>
                <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li>
                <li>
                    <strong>Support platform</strong>
                </li>
                <li class="plan-action">
                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Premium
                </li>
                <li class="pricing-desc">
                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                </li>
                <li class="pricing-price">
                    <span>$160</span> / month
                </li>
                <li>
                    Dashboards
                </li>
                <li>
                    Projects view
                </li>
                <li>
                    Contacts
                </li>
                <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>
</div>

</section>

<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contact Us</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
            <address>
                <strong><span class="navy">Primier Ads, Inc.</span></strong><br/>
                Northdale Plaza, Suite 600<br/>
                Tampa, FL 33624<br/>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>
        <div class="col-lg-4">
            <p class="text-color">
                Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
            <p class="m-t-sm">
                Or follow us on social platform
            </p>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2015 Premier Ads, Inc</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


});

</script>

<% end %>
