    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Add User</h2>
        <ol class="breadcrumb">
          <li>
            <a ui-sref="users">My Users</a>
          </li>
          <li class="active">
            <strong>Add User</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">
      </div>
    </div>

    <div class="wrapper wrapper-content">

      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Adding New User
                <small>will send registration email.</small>
              </h5>
            </div>
            <div class="ibox-content" ng-controller="NewStaffController">

              <form class="form-horizontal" role="form" name="staff_form" novalidate ng-submit="createStaff()">

                <!--first name-->
                <div class="form-group"><label class="col-sm-2 control-label">First Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="first_name" ng-model="data.staff.first_name" required>
                    <div class="m-t-xs" ng-show="staff_form.first_name.$invalid && staff_form.submitted">
                      <small class="text-danger" ng-show="staff_form.first_name.$error.required">Please input a first name</small>
                    </div>
                  </div>

                </div>
                <div class="hr-line-dashed"></div>

                <!--last name-->
                <div class="form-group"><label class="col-sm-2 control-label">Last Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="last_name" ng-model="data.staff.last_name" required>
                    <div class="m-t-xs" ng-show="staff_form.last_name.$invalid && staff_form.submitted">
                      <small class="text-danger" ng-show="staff_form.last_name.$error.required">Please input a last name</small>
                    </div>
                  </div>

                </div>
                <div class="hr-line-dashed"></div>

                <!--phone-->
                <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="data.staff.phone">
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <!--email-->
                <div class="form-group"><label class="col-sm-2 control-label">Email</label>

                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="email"
                           ng-model="data.staff.user_attributes.email"
                           ng-remote-validate="/validations/username" required>
                    <div class="m-t-xs" ng-show="staff_form.email.$invalid && staff_form.submitted">
                      <small class="text-danger" ng-show="staff_form.email.$error.required">Please input a valid email address</small>
                    </div>
                    <div class="m-t-xs">
                      <small class="text-info" ng-show="staff_form.email.$pending">validating...</small>
                      <small class="text-danger" ng-show="staff_form.email.$error.ngRemoteValidate">
                        Email is registered
                      </small>
                    </div>
                  </div>

                </div>
                <div class="hr-line-dashed"></div>

                <!--password-->
                <div class="form-group"><label class="col-sm-2 control-label">Password</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" ng-model="data.staff.user_attributes.password" ng-minlength="8" ng-maxlength="128" required>
                    <div class="m-t-xs" ng-show="staff_form.password.$invalid && staff_form.submitted">
                      <small class="text-danger" ng-show="staff_form.password.$error.required">Please input a password</small>
                      <small class="text-danger" ng-show="staff_form.password.$error.minlength">Password is required to be at least 8 characters</small>
                      <small class="text-danger" ng-show="staff_form.password.$error.maxlength">Password cannot be longer than 128 characters</small>
                    </div>
                  </div>

                </div>
                <div class="hr-line-dashed"></div>

                <!--password confirmation-->
                <div class="form-group"><label class="col-sm-2 control-label">Password Confirmation</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password_confirmation" ng-model="data.staff.user_attributes.password_confirmation"  data-match="data.staff.user_attributes.password">
                    <div class="m-t-xs" ng-show="staff_form.password_confirmation.$invalid && staff_form.submitted">
                      <small class="text-danger" ng-show="staff_form.password_confirmation.$error.match">Passwords do not match</small>
                    </div>
                  </div>

                </div>
                <div class="hr-line-dashed"></div>

                <!--avatar-->
                <div class="form-group"><label class="col-sm-2 control-label">Avatar</label>

                  <div class="col-sm-10"><input type="file" class="form-control" name="staff[avatar]" ngf-select ng-model="data.avatar"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <!--avatar-->
                <!--div class="form-group"><label class="col-sm-2 control-label">Avatar</label>

                  <div class="col-sm-10">
                    <input type="file" ngf-select ng-model="avatar" name="file"
                           accept="image/*" ngf-max-size="2MB" required>
                    <i ng-show="staff_form.file.$error.required">*required</i><br>
                    <i ng-show="staff_form.file.$error.maxSize">File too large
                      {{staff.user_attributes.avatar.size / 1000000|number:1}}MB: max 2M</i>
                    <img ng-show="staff_form.file.$valid" ngf-thumbnail="avatar" class="thumb">
                  </div>
                </div>
                <div class="hr-line-dashed"></div-->

                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <a ui-sref="staff" class="btn btn-white">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                      <div class="sk-bounce1"></div>
                      <div class="sk-bounce2"></div>
                      <div class="sk-bounce3"></div>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>