<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Customer</h2>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="CustomerController">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ data.customer.name }}
            <small></small>
          </h5>
        </div>
        
        <div class="ibox-content">

          <!--app user-->
          <form class="form-horizontal" role="form" name="customer_form" novalidate ng-submit="saveCustomer()">

            <div class="form-group"><label class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" ng-model="data.customer.name" required>
                <div class="m-t-xs" ng-show="customer_form.name.$invalid && customer_form.submitted">
                  <small class="text-danger" ng-show="customer_form.name.$error.required">Please input a name</small>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Address</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[address1]" ng-model="data.customer.address1"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Address 2</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[address2]" ng-model="data.customer.address2"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">City</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[city]" ng-model="data.customer.city"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">State</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[state]" ng-model="data.customer.state"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Zip</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[zip]" ng-model="data.customer.zip"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Email</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[email]" ng-model="data.customer.email"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Home Phone</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[home_phone]" ng-model="data.customer.homePhone"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Mobile Phone</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[mobile_phone]" ng-model="data.customer.mobilePhone"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Work Phone</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="customer[work_phone]" ng-model="data.customer.workPhone"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a ui-sref="customers" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>