<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Customers</h2>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a ui-sref="customer({ id: 0 })" class="btn btn-success">New Customer</a>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight"  ng-controller="CustomersController">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Customers
            <div class="sk-spinner sk-spinner-three-bounce" ng-show="searching">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </h2>
          <div class="input-group">
            <input type="text" placeholder="Search users " class="input form-control" ng-model="exp">
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-primary" ng-click="searchCustomer()"> <i class="fa fa-search"></i> Search</button>
            </span>
          </div>
          <div class="clients-list">

            <div class="full-height-scroll" full-scroll>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <tbody>
                  <tr ng-repeat="customer in customers">
                    <td><a ng-click="selectCustomer(customer.id)" class="client-link">{{ customer.name }}</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox ">

        <div class="ibox-content">
          <div class="tab-content">
            <div ng-repeat="customer in customers">
              <div class="tab-pane active" ng-show="isSelected(customer.id)">
                <div class="row m-b-lg">
                  <div class="col-lg-4 text-center">
                    <h2>{{ customer.name }}</h2>
                  </div>
                  <div class="col-lg-8">
                    <strong ng-show="customer.email_crm || customer.home_phone || customer.mobile_phone || customer.work_phone">
                      About
                    </strong>

                    <p ng-show="customer.email">
                      <span><i class="fa fa-email"></i> {{ customer.email }}</span>
                    </p>
                    <p  ng-show="customer.home_phone">
                      <span><i class="fa fa-email"></i> {{ customer.home_phone }}</span>
                    </p>
                    <p  ng-show="customer.mobile_phone">
                      <span><i class="fa fa-email"></i> {{ customer.mobile_phone }}</span>
                    </p>
                    <p   ng-show="customer.work_phone">
                      <span><i class="fa fa-globe"></i> {{ customer.work_phone }}</span>
                    </p>

                    <a ui-sref="customer({ 'id': customer.id })" class="btn btn-primary btn-sm btn-block"><i
                    class="fa fa-pencil"></i> Edit
                    </a>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>