<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2></h2>
    <div id="embed-api-auth-container"></div>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="GAController">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">

        <div class="ibox-content">
          <div class="ViewSelector" id="view-selector-container"></div>
        </div>

        <div class="ibox-content">
          <div class="ViewSelector" id="active-users-container"></div>
        </div>

        <div class="ibox-content">
          <div class="ViewSelector" id="active-users-container-1"></div>
        </div>

        <div class="ibox-content">
          <div id="chart-container-1"></div>
        </div>

        <div class="ibox-content">
          <div id="chart-container-2"></div>
        </div>

        <div class="ibox-content">
          <div id="chart-container-3"></div>
        </div>

        <div>
          <ng-analytics-auth label="logged in as: &nbsp;" hide-on-auth="true" auth-container="embed-api-auth-container"></ng-analytics-auth>
          <ng-analytics-view view-selector-container="view-selector-container" auth-container="embed-api-auth-container"></ng-analytics-view>
          <ng-analytics-report queries="queries" auth-container="embed-api-auth-container"></ng-analytics-report>
          <ng-analytics-report queries="queries" auth-container="embed-api-auth-container" view-selector-container="view-selector-container"></ng-analytics-report>
          <ng-analytics-chart chart="extraChart" auth-container="embed-api-auth-container"></ng-analytics-chart>
          <ng-analytics-active-users default-ids="defaultIds" auth-container="embed-api-auth-container"></ng-analytics-active-users>
          <ng-analytics-active-users label="Current users:" increase-class="increaser" decrease-class="decreaser" active-users-container="active-users-container-1" view-selector-container="view-selector-container" auth-container="embed-api-auth-container"></ng-analytics-active-users>
          <ng-analytics-chart ng-repeat="chart in charts" chart="chart" view-selector-container="view-selector-container" auth-container="embed-api-auth-container"></ng-analytics-chart>
        </div>

      </div>
    </div>
  </div>

</div>