<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Dealership</h2>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="DealershipController">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ data.dealership.name }}
            <small></small>
          </h5>
        </div>
        
        <div class="ibox-content">

          <!--app user-->
          <form class="form-horizontal" role="form" name="dealership_form" novalidate ng-submit="saveDealership()">

            <div class="form-group"><label class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" ng-model="data.dealership.name" required>
                <div class="m-t-xs" ng-show="dealership_form.name.$invalid && dealership_form.submitted">
                  <small class="text-danger" ng-show="dealership_form.name.$error.required">Please input a name</small>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Address</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[address1]" ng-model="data.dealership.address1"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Address 2</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[address2]" ng-model="data.dealership.address2"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">City</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[city]" ng-model="data.dealership.city"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">State</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[state]" ng-model="data.dealership.state"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Zip</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[zip]" ng-model="data.dealership.zip"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Phone</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[phone]" ng-model="data.dealership.phone"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Email CRM</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[email_crm]" ng-model="data.dealership.emailCrm"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Email Service</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[email_service]" ng-model="data.dealership.emailService"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Website</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[website]" ng-model="data.dealership.website"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Contact Name</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[contact_name]" ng-model="data.dealership.contactName"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Contact Email</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[contact_email]" ng-model="data.dealership.contactEmail"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Google Analytics Tracking Code</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[ga_tracking]" ng-model="data.dealership.gaTracking"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Bing Tracking Code</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="dealership[bing_tracking]" ng-model="data.dealership.bingTracking"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Logo</label>

              <div class="col-sm-10"><input type="file" class="form-control" name="dealership[logo]" ngf-select ng-model="data.logo"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a ui-sref="dealerships" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>