<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Dealershipships</h2>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a ui-sref="dealership({ id: 0 })" class="btn btn-success">New Dealership</a>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight"  ng-controller="DealershipsController">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Dealerships
            <div class="sk-spinner sk-spinner-three-bounce" ng-show="searching">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </h2>
          <div class="input-group">
            <input type="text" placeholder="Search users " class="input form-control" ng-model="exp">
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-primary" ng-click="searchDealership()"> <i class="fa fa-search"></i> Search</button>
            </span>
          </div>
          <div class="clients-list">

            <div class="full-height-scroll" full-scroll>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <tbody>
                  <tr ng-repeat="dealership in dealerships">
                    <td class="client-avatar"><img alt="image" src="{{ dealership.logoUrl }}"> </td>
                    <td><a ng-click="selectDealership(dealership.id)" class="client-link">{{ dealership.name }}</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox ">

        <div class="ibox-content">
          <div class="tab-content">
            <div ng-repeat="dealership in dealerships">
              <div class="tab-pane active" ng-show="isSelected(dealership.id)">
                <div class="row m-b-lg">
                  <div class="col-lg-4 text-center">
                    <h2>{{ dealership.name }}</h2>

                    <div class="m-b-sm">
                      <img alt="image" class="img-circle" src="{{ dealership.logoUrl }}"
                           style="width: 62px">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <strong ng-show="dealership.phone || dealership.email_crm || dealership.email_service || dealership.website">
                      About
                    </strong>

                    <p ng-show="dealership.phone">
                      <span><i class="fa fa-phone"></i> {{ dealership.phone }}</span>
                    </p>
                    <p  ng-show="dealership.email_crm">
                      <span><i class="fa fa-email"></i> {{ dealership.email_crm }}</span>
                    </p>
                    <p  ng-show="dealership.email_service">
                      <span><i class="fa fa-email"></i> {{ dealership.email_service }}</span>
                    </p>
                    <p   ng-show="dealership.website">
                      <span><i class="fa fa-globe"></i> {{ dealership.website }}</span>
                    </p>

                    <strong ng-show="dealership.contact_name">
                      Contact
                    </strong>

                    <p  ng-show="dealership.contact_name">
                      <span>{{ dealership.contact_name }}</span>
                    </p>
                    <p  ng-show="dealership.contact_email">
                      <span>{{ dealership.contact_email }}</span>
                    </p>

                    <a ui-sref="dealership({ 'id': dealership.id })" class="btn btn-primary btn-sm btn-block"><i
                    class="fa fa-pencil"></i> Edit
                    </a>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>