    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Edit User</h2>
        <ol class="breadcrumb">
          <li>
            <a ui-sref="users">My Users</a>
          </li>
          <li class="active">
            <strong>Edit User</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">

      </div>
    </div>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="ibox-content no-padding border-left-right">
          <div class="col-lg-5">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Edit User</h5>
              </div>
              <div class="ibox-content">
                <form class="form-horizontal">

                  <div class="form-group"><label class="col-lg-2 control-label">First Name*</label>
                    <div class="col-lg-10"><input type="text" placeholder="First Name" class="form-control" required=""></div>
                  </div>

                  <div class="form-group"><label class="col-lg-2 control-label">Last Name*</label>
                    <div class="col-lg-10"><input type="text" placeholder="Last Name" class="form-control" required=""></div>
                  </div>

                  <div class="form-group"><label class="col-lg-2 control-label">Phone*</label>
                    <div class="col-lg-10"><input type="tel" placeholder="Phone Number" class="form-control" required=""></div>
                  </div>

                  <div class="form-group"><label class="col-lg-2 control-label">Email*</label>
                    <div class="col-lg-10"><input type="email" placeholder="Email/Username" class="form-control" required=""></div>
                  </div>

                  <div class="form-group"><label class="col-lg-2 control-label">Password*</label>
                    <div class="col-lg-10"><input type="password" placeholder="Password" class="form-control" required=""></div>
                  </div>

                  <div class="form-group"><label class="col-lg-2 control-label" for="filebutton">Picture</label>
                    <div class="col-md-4"><input id="filebutton" name="filebutton" class="input-file" type="file"></div>
                  </div>
                  <!-- This should be a list of dealers that the user can be added to -->
                  <div class="checkbox">
                    <ul>
                      <li><label><input type="checkbox" value="">Option 1</label></li>
                      <li><label><input type="checkbox" value="">Option 1</label></li>
                      <li><label><input type="checkbox" value="">Option 1</label></li>
                      <li><label><input type="checkbox" value="">Option 1</label></li>
                    </ul>
                  </div>
                  <!-- End of list of dealers available to add to user -->
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-sm btn-danger pull-right" style="margin: 5px;"type="submit">Cancel</button>
                      <button class="btn btn-sm btn-primary pull-right" style="margin: 5px;" type="submit">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>