<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>New Dealership</h2>

      <ol class="breadcrumb">
        <li>
          <a ui-sref="dealerships">My Dealerships</a>
        </li>
        <li class="active">
          <strong>New Dealership</strong>
        </li>
      </ol>
    </div>
    <div class="col-sm-8">

    </div>
  </div>
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="ibox-content no-padding border-left-right">
        <div class="col-lg-7">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Add Dealership</h5>
            </div>

            <div class="ibox-content">
              <form class="form-horizontal">

                <div class="form-group"><label class="col-lg-2 control-label">Name*</label>
                  <div class="col-lg-10"><input type="text" placeholder="Dealership Name" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Address*</label>
                  <div class="col-lg-10"><input type="text" placeholder="Address1" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Address 2</label>
                  <div class="col-lg-10"><input type="text" placeholder="Address2" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">City*</label>
                  <div class="col-lg-10"><input type="text" placeholder="City" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">State*</label>
                  <div class="col-lg-10"><input type="text" placeholder="State" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Zip*</label>
                  <div class="col-lg-10"><input type="text" placeholder="Zip" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Phone*</label>
                  <div class="col-lg-10"><input type="tel" placeholder="Phone Number" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Website*</label>
                  <div class="col-lg-10"><input type="text" placeholder="Dealership Website" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label" for="filebutton">Logo</label>
                  <div class="col-md-4"><input id="filebutton" name="filebutton" class="input-file" type="file"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Sales Email*</label>
                  <div class="col-lg-10"><input type="email" placeholder="CRM Sales Lead Email" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Service Email</label>
                  <div class="col-lg-10"><input type="email" placeholder="CRM Service Lead Email" class="form-control"></div>
                </div>

                <div class="form-group"><label class="col-lg-2 control-label">Google Analytics</label>
                  <div class="col-lg-10"><input type="text" placeholder="Google UA Code" class="form-control"></div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-sm btn-danger pull-right" style="margin: 5px;"type="submit">Cancel</button>
                    <button class="btn btn-sm btn-primary pull-right" style="margin: 5px;" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>