﻿<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="LoginController" ng-init="authenticity_token = '<%= form_authenticity_token %>'">
    <div>
        <div>

            <h1 class="logo-name">PAS</h1>

        </div>
        <h3>Welcome to PAS Dashboard</h3>
        <p>Perfectly designed and precisely prepared for all Dealerships.</p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" ng-model="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
            </div>
            <button class="btn btn-primary block full-width m-b" ng-click="login()">Login</button>

            <a href="#"><small>Forgot password?</small></a>
        </form>
        <p class="m-t"> <small>Premier Advertising Services &copy; 2015</small> </p>
    </div>
</div>



