<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>My Profile</h2>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile
            <small></small>
          </h5>
        </div>

        <div ng-init="profileID = <%= @profile_id %>"></div>
        <div ng-init="profileType = '<%= @profile_type %>'"></div>
        <div class="ibox-content" ng-controller="ProfileController">

          <!--app user-->
          <form class="form-horizontal" role="form" name="app_user_form" novalidate ng-show="profileType == 'AppUser'" ng-submit="updateProfile()">

            <input type="hidden" ng-init="profileID = <%= @profile_id %>">
            <input type="hidden" ng-init="profileType = '<%= @profile_type %>'">

            <div class="form-group"><label class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" ng-model="data.app_user.name" required>
                <div class="m-t-xs" ng-show="app_user_form.name.$invalid && app_user_form.submitted">
                  <small class="text-danger" ng-show="app_user_form.name.$error.required">Please input a name</small>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Address</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[address]" ng-model="data.app_user.address"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">City</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[city]" ng-model="data.app_user.city"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">State</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[state]" ng-model="data.app_user.state"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Zip</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[zip]" ng-model="data.app_user.zip"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Phone</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[phone]" ng-model="data.app_user.phone"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Email CRM</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[email_crm]" ng-model="data.app_user.emailCrm"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Email Service</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[email_service]" ng-model="data.app_user.emailService"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Website</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[website]" ng-model="data.app_user.website"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Contact Name</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[contact_name]" ng-model="data.app_user.contactName"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Contact Email</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[contact_email]" ng-model="data.app_user.contactEmail"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Google Analytics Tracking Code</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[ga_tracking]" ng-model="data.app_user.gaTracking"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Bing Tracking Code</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[bing_tracking]" ng-model="data.app_user.bingTracking"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Facebok</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[facebook]" ng-model="data.app_user.facebook"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Google</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[google]" ng-model="data.app_user.google"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Twitter</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="app_user[twitter]" ng-model="data.app_user.twitter"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Logo</label>

              <div class="col-sm-10"><input type="file" class="form-control" name="app_user[user_attributes][avatar]" ngf-select ng-model="data.avatar"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a ui-sref="staff" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </form>

          <!--staff-->
          <form class="form-horizontal" role="form" name="staff_form" novalidate ng-show="profileType == 'Staff'" ng-submit="updateProfile()">

            <input type="hidden" ng-init="profileID = <%= @profile_id %>">
            <input type="hidden" ng-init="profileType = '<%= @profile_type %>'">

            <!--first name-->
            <div class="form-group"><label class="col-sm-2 control-label">First Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="first_name" ng-model="data.staff.firstName" required>
                <div class="m-t-xs" ng-show="staff_form.first_name.$invalid && staff_form.submitted">
                  <small class="text-danger" ng-show="staff_form.first_name.$error.required">Please input a first name</small>
                </div>
              </div>

            </div>
            <div class="hr-line-dashed"></div>

            <!--last name-->
            <div class="form-group"><label class="col-sm-2 control-label">Last Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" name="last_name" ng-model="data.staff.lastName" required>
                <div class="m-t-xs" ng-show="staff_form.last_name.$invalid && staff_form.submitted">
                  <small class="text-danger" ng-show="staff_form.last_name.$error.required">Please input a last name</small>
                </div>
              </div>

            </div>
            <div class="hr-line-dashed"></div>

            <!--phone-->
            <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="data.staff.phone">
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <!--avatar-->
            <div class="form-group"><label class="col-sm-2 control-label">Avatar</label>

              <div class="col-sm-10"><input type="file" class="form-control" name="staff[avatar]" ngf-select ng-model="data.avatar"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a ui-sref="staff" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>