﻿    <div class="middle-box text-center loginscreen   animated fadeInDown" ng-controller="RegisterController" ng-init="authenticity_token = '<%= form_authenticity_token %>'">
        <div>
            <div>

                <h1 class="logo-name">PREMIER</h1>

            </div>
            <h3>Register to PREMIER</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" required="" ng-model="name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" ng-model="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
                </div>
                <div class="form-group">
                    <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" ng-click="register()">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="login">Login</a>
            </form>
            <p class="m-t"> <small>Premier Ads &copy; 2015</small> </p>
        </div>
    </div>

