<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Staff</h2>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="StaffController">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ staff.name }}
            <small></small>
          </h5>
        </div>

        <div class="ibox-content">

          <form class="form-horizontal" role="form" name="staff_form" novalidate ng-submit="saveStaff()">


            <div class="form-group"><label class="col-sm-2 control-label">First Name</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="staff[first_name]" ng-model="data.staff.firstName"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Last Name</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="staff[last_name]" ng-model="data.staff.lastName"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Dealership Access</label>

              <div class="col-sm-10">
                <% Dealership.all.each do | dealership |%>
                    <input type="checkbox" id='<%= dealership.id %>' ng-checked="dealershipExists(<%= dealership.id %>, data.staff.dealershipIds)"  ng-click="dealershipToggle(<%= dealership.id %>, data.staff.dealershipIds)">
                    <label for='<%= dealership.id %>'>
                      <%= dealership.name %>
                    </label>
                    <br/>
                <% end %>
              </div>

            </div>
            <div class="hr-line-dashed"></div>



            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a ui-sref="staffs" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>