<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Users</h2>
    <!-- Add Breadcrumb to page if wanted in this location

            <ol class="breadcrumb">
                <li>
                    <a href="index.html"></a>
                </li>
                <li class="active">
                    <strong>Breadcrumb</strong>
                </li>
            </ol>
    -->
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <!--a ui-sref="newstaff" class="btn btn-success">New User</a-->
    </div>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight"  ng-controller="StaffsController">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Users
            <div class="sk-spinner sk-spinner-three-bounce" ng-show="searching">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </h2>
          <div class="input-group">
            <input type="text" placeholder="Search users " class="input form-control" ng-model="exp">
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-primary" ng-click="searchStaff()"> <i class="fa fa-search"></i> Search</button>
            </span>
          </div>
          <div class="clients-list">

            <div class="full-height-scroll" full-scroll>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <tbody>
                  <tr ng-repeat="staff in staffs">
                    <td class="client-avatar"><img alt="image" src="{{ staff.avatarUrl }}"> </td>
                    <td><a ng-click="selectStaff(staff.id)" class="client-link">{{ staff.firstName + ' ' + staff.lastName }}</a></td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>{{ staff.phone }}</td>
                    <td class="client-status"><span class="label label-primary">Active</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox ">

        <div class="ibox-content">
          <div class="tab-content">
          <div ng-repeat="staff in staffs">
            <div class="tab-pane active" ng-show="isSelected(staff.id)" ng-init="selectStaff(staff.id)">
              <div class="row m-b-lg">
                <div class="col-lg-4 text-center">
                  <h2>{{ staff.firstName + ' ' + staff.lastName }}</h2>

                  <div class="m-b-sm">
                    <img alt="image" class="img-circle" src="{{ staff.avatarUrl }}"
                         style="width: 62px">
                  </div>
                </div>
                <div class="col-lg-8">
                  <strong>
                    About me
                  </strong>

                  <p>
                    <span><i class="fa fa-phone"></i> {{ staff.phone }}</span>
                  </p>

                  <a ui-sref="staff({ 'id': staff.id })" class="btn btn-primary btn-sm btn-block"><i
                  class="fa fa-pencil"></i> Edit
                  </a>

                </div>
              </div>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>