<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Vehicle</h2>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="VehicleController">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ data.vehicle.type }} {{ data.vehicle.year }} {{ data.vehicle.make }} {{ data.vehicle.model }}
            <small></small>
          </h5>
        </div>
        
        <div class="ibox-content">

          <form class="form-horizontal" role="form" name="vehicle_form" novalidate ng-submit="saveVehicle()">

            <div class="form-group"><label class="col-sm-2 control-label">Dealership</label>

              <div class="col-sm-10"><select class="form-control m-b" name="vehicle[dealership]" ng-options="dealership.id as dealership.name for dealership in data.dealerships" ng-model="data.vehicle.dealershipId"></select>

              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Customer</label>

              <div class="col-sm-10"><select class="form-control m-b" name="vehicle[customer]" ng-options="customer.id as customer.name for customer in data.customers" ng-model="data.vehicle.customerId"></select>

              </div>
            </div>
            <div class="hr-line-dashed"></div>


            <div class="form-group"><label class="col-sm-2 control-label">Type</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[classification]" ng-model="data.vehicle.classification"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Year</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[year]" ng-model="data.vehicle.year"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Make</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[make]" ng-model="data.vehicle.make"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Model</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[model]" ng-model="data.vehicle.model"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Trim</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[trim]" ng-model="data.vehicle.trim"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">VIN</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[vin]" ng-model="data.vehicle.vin"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Stock Number</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[stock_number]" ng-model="data.vehicle.stockNumber"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Amount Financed</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[amount_financed]" ng-model="data.vehicle.amountFinanced"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Loan Balance</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[loan_balance]" ng-model="data.vehicle.loanBalance"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Payment</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[payment]" ng-model="data.vehicle.payment"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">APR</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[apr]" ng-model="data.vehicle.apr"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Terms</label>

              <div class="col-sm-10"><textarea class="form-control" name="vehicle[terms]" ng-model="data.vehicle.terms"></textarea></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Sales Date</label>

              <div class="col-sm-10"><input type="text" class="form-control" name="vehicle[sales_date]" ng-model="data.vehicle.salesDate"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a ui-sref="vehicles" class="btn btn-white">Cancel</a>
                <button class="btn btn-primary" type="submit">Save changes</button>
                <div class="sk-spinner sk-spinner-three-bounce" ng-show="saving">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>