<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Vehicles</h2>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a ui-sref="vehicle({ id: 0 })" class="btn btn-success">New Vehicle</a>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight"  ng-controller="VehiclesController">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Vehicles
            <div class="sk-spinner sk-spinner-three-bounce" ng-show="searching">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </h2>
          <div class="input-group">
            <input type="text" placeholder="Search users " class="input form-control" ng-model="exp">
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-primary" ng-click="searchVehicle()"> <i class="fa fa-search"></i> Search</button>
            </span>
          </div>
          <div class="clients-list">

            <div class="full-height-scroll" full-scroll>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <tbody>
                  <tr ng-repeat="vehicle in vehicles">
                    <td><a ng-click="selectVehicle(vehicle.id)" class="client-link">{{ vehicle.type }} {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</a></td>
                    <td>{{ vehicle.vin }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox ">

        <div class="ibox-content">
          <div class="tab-content">
            <div ng-repeat="vehicle in vehicles">
              <div class="tab-pane active" ng-show="isSelected(vehicle.id)">
                <div class="row m-b-lg">
                  <div class="col-lg-4 text-center">
                    <h2>{{ vehicle.type }} {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>
                  </div>
                  <div class="col-lg-8">

                    <strong>
                      Details
                    </strong>
                    <p>
                      {{ vehicle.vin }}
                    </p>
                    <p>
                      {{ vehicle.type }} {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
                    </p>

                    <a ui-sref="vehicle({ 'id': vehicle.id })" class="btn btn-primary btn-sm btn-block"><i
                    class="fa fa-pencil"></i> Edit
                    </a>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>