<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Virtual Sales Floor</h2>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a href="" class="btn btn-primary">This is action area</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">This is page content</h3>

        <div class="error-desc">
          You can create here any grid layout you want. And any variation layout you imagine:) Check out main dashboard and other site. It use many different layout.
          <br/><a ui-sref="dashboard_1" class="btn btn-primary m-t">Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>