<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <center>
          <div class="dropdown profile-element" dropdown>

            <div class="m-b-sm">
              <img alt="image" class="img-circle" src="{{ profile.avatarUrl }}"
                   style="width: 62px">
            </div>
            <!--<img alt="image" class="img-circle" ng-src="{{profile.avatarUrl}}"/>-->
            <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="text-muted text-xs block">
                                    <strong class="font-bold">{{ profile.name }}</strong> <b class="caret"></b>
                             </span>
                            </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a ui-sref="profile">Edit My Profile</a></li>
              <li><a ui-sref="dealerships" ng-show="role == 'admin'">My Dealerships</a></li>
              <li class="divider"></li>
              <li><a ng-href="" ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </center>
        <div class="logo-element">
          PAS
        </div>
      </li>
      <li>
        <a ui-shref="dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
        <ul  class="nav nav-second-level collapse" ng-class="">
          <li><a ui-sref="dashboard_google">Google Analytics</a></li>
        </ul>
      </li>
      <li >
        <a ui-sref="virtual_sales_floor"><i class="fa fa-comments-o"></i> <span class="nav-label">Virtual Sales Floor</span> </a>
      </li>
      <li>
        <a ui-sref="heat_map"><i class="fa fa-desktop"></i> <span class="nav-label">Heat Maps</span> </a>
      </li>
      <li>
        <a ui-sref="customers"><i class="fa fa-users"></i> <span class="nav-label">Customers</span> </a>
      </li>
      <li>
        <a ui-sref="vehicles"><i class="fa fa-car"></i> <span class="nav-label">Vehicles</span> </a>
      </li>
      <li ng-class="">
        <a href=""><i class="fa fa-heart-o"></i> <span class="nav-label">Social</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" ng-class="">
          <li><a ui-sref="facebook">Facebook</a></li>
          <li><a ui-sref="twitter">Twitter</a></li>
        </ul>
      </li>
      <li ng-class="">
        <a href=""><i class="fa fa-briefcase"></i> <span class="nav-label">Admin</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" ng-class="">
          <li><a ui-sref="profile">Edit My Profile</a></li>
          <li><a ui-sref="dealerships" ng-show="role == 'admin'">My Dealerships</a></li>
          <li><a ui-sref="staffs" ng-show="role == 'admin'">My Users</a></li>

        </ul>
      </li>
    </ul>

  </div>
</nav>