<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header dropdown">
      <span minimaliza-sidebar></span>

      <button type="button" data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle minimalize-styl-2" aria-expanded="false">{{ dealership.name }}<span class="caret"></span></button>
      <ul class="dropdown-menu animated fadeInRight m-t-xs" style="right: 0; left: auto;">
        <li ng-repeat="dealership in dealerships"><a href="#" ng-click="selectDealership(dealership)">{{ dealership.name }}</a></li>
      </ul>

      <!--ul class="btn btn-default btn-sm">
        <select class="form-control m-b" ng-options="dealership.id as dealership.name for dealership in dealerships" ng-model="dealershipID"></select>
      </ul-->

    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle count-info" href dropdown-toggle>
          Language
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs" ng-controller="translateController">
          <li><a ng-click="changeLanguage('en')">English</a></li>
          <li><a ng-click="changeLanguage('es')">Spanish</a></li>
        </ul>
      </li>
      <li>
        <a ng-href="" ng-click="logout()">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>

  </nav>
</div>